html,
body,
.container {
  width: 100%;
  margin: 0 auto;
}

#map-container {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  margin: 0px auto;
}

#map-error {
  text-align: center;
}

#search-container {
    min-width: 150px;
    max-width: 20%;
    z-index: 3;
    float: right;
    background-color: rgba(256, 256, 256, .7);
    border-radius: 25px;
    border: solid 2px blue;
}

#input {
  max-width: 100%;
  border-radius: 15px;
  display: block;
  position: relative;
  margin : 0px auto;
  overflow: hidden;
}

#location-list {
    max-height: 549px;
    overflow: auto;
    margin: 0 5px;
}

#location-list li {
padding: 5px;
}

#location-list strong {
  cursor: pointer;
  border-bottom:1px solid black;
}

#weather-container {
    min-width: 100px;
    width: 20%;
    z-index: 3;
    float: left;
    background-color: rgba(0, 50, 100, .5);
    border-radius: 15px 50px;
    padding: 1%;
    border: solid 2px blue;
}

.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    float: middle;
}

.flickr {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0;
    display: none;
}

.flickr-images {
    max-width: 50%;
    max-height: 400px;
    margin: 15% auto;
    background-color: rgba(0, 50, 100, .5);
    opacity: 1.0;
    z-index: 0;
    border-radius: 5%;
    border: solid 2px blue;
}

.flickr-images img {
    position: relative;
    display: block;
    padding-bottom: 5%;
    margin: auto;
    overflow: hidden;
    z-index: 0;
    max-width: 50%;
    max-height: 350px;
}

#right-arrow {
    position: relative;
    float: right;
}

#right-arrow,
#left-arrow {
    width: 10%;
    padding: 5px;
    margin: 1%;
    border-radius: 50%;
}

#exit-flickr {
    float: right;
    padding: 5px;
    margin: 1%;
    border-radius: 50%;
}

ul{
  list-style-type: none;
}

@media screen and (max-width: 670px) {
    #weather-container {
        width: 30%;
      }
    #forecast h3 {
        display: none;
    }
    #forecast li {
        margin: 0 1px;
    }
}

#forecast li{
  text-align: left;
}
